* {
	margin: 1;
	padding: 1;
	outline: ;
}

body {
	font-family: "museo-sans", sans-serif;
	font-size: 13px;
	color: #666666;
}

/* global */
table  {
	border-collapse: collapse;
}

td {
	border: 1px solid #eee;
	padding: 5px;
	font-family: "museo-sans", Arial, Helvetica, sans-serif;
	text-align: left;
}

.btn {
	padding: 2px;
}

h1, h2 {
	font-family: "museo-sans", Arial, Helvetica, sans-serif;
	font-weight: normal;
}

h1 {
	font-size: 197%;
}

h2 {
	font-size: 167%;
}

h3 {
	margin-bottom: 1em;
	text-transform: uppercase;
	font-size: 100%;
	color: #000000;
}

p, ul, ol {
	margin-bottom: 1.5em;
	line-height: 1.6em;
}

p {
}

ol {
}

ul {
	list-style: none;
}

ul li {
	padding-left: 10px;
	background: url(market_images/img16.gif) no-repeat 0px 10px;
}


/* message boxes */
.info, .success, .warning, .error, .validation, .promotion {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.promotion {
        color: #D8000C;
        background-color: #FFBABA;
        background-image: url('images/knobs/Knob Red.png');
}
.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('images/knobs/Knob Info.png');
}
.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('images/knobs/Knob Valid Green.png');
}
.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('images/knobs/Knob Attention.png');
}
.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('images/knobs/Knob Cancel.png');
}


a:link, a:visited {
	color: #9F0000;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
	color: #DA0909;
}

dl dd {
	color: #000;
}

img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 10px 0;
}

img.right {
	float: right;
	margin: 0 0 10px 20px;
}
