<div align="center">
</div>
<img src="http://qr.kaywa.com/img.php?s=8&d=http%3A%2F%2Fwww.linkontrol.com%2Fremote.php%3Fid%3D$id" width="128" height="128" alt="QRCode"/>
<table align="center" border=1>
<form method=post action="?do=add_movie" >
<input type=hidden name=userid value="123">
<tr bgcolor="#AAAAAA">
<td><input name=name value="Enter Movie Title"></td>
<td><input name=href value="http://link.to.movie.com"></td>
<td>Uploader</td>
<td colspan=4><input type=submit value="Add Movie"></td>
</form>
$movies_list
</table>
