        <div data-role="page" id="page_$subpage_id">
                <div data-theme="a" data-role="header" data-position="fixed">
                        <h3>$subpage_header</h3>
                </div>
                <div data-role="content" style="padding: 15px">
                        <p>$subpage_content</p>
                </div>
                <div data-theme="a" data-role="footer">
                        <!-- <h3> Footer on page 3</h3> -->
                        <p><a href="#page1" data-transition="slidefade">back </a></p>
                </div>
        </div>
